<div class="row">
	<body><b>Ongoing Tests</b></body>
	<ul><br>
	  <% @sessions.each do |item| %>
	    <li>
	    	<%= link_to item.session_name, item %> --
	    	<i><%= link_to "Delete", item, method: :delete, data: { confirm: "You sure?" } %></i>
	    </li>
	  <% end %>
	</ul>
	<br>
	<a href= "/sessions/new">New Test</a><br>
	<a href= "/">Back</a>
</div>