<div class="row">
	<div class ="alert alert-info"><%= @score %> to go</div>
	<% if @score.zero? %>
	<%= render "finished" %>
	<% else %>
	<%= render "question" %>
	<% end %>
	<br><a href= "/sessions">Go back to sessions</a>	
</div>