<div class="row">
	<a href= "/photos/new">Add New Photo</a><br>
	<a href= "/">Go Back</a>
	<br>
	<br>
	<body><b>Existing People</b></body>
	<ul>
	  <% @photos.each do |item| %>
	    <li><%= link_to item.name, item %></li>
	  <% end %>
	</ul>
<div>