<div class="row">
	<h1><%= @photo.name %></h1>
	<%= image_tag @photo.avatar.url(:small) %><br>
	<%= link_to "Delete", @photo, method: :delete,
									data: { confirm: "You sure?" } %>
	<br><a href= "/photos">Go Back</a>					
</div>				