<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "name rememberer", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Add New People", photos_path %></li>
          <li><%= link_to "Test Yourself", sessions_path %></li>
          <li class="divider"></li>
        </ul>
      </nav>
    </div>
  </div>
</header>